{% extends 'base.html'%}
{% load static %}
{% block content %}
<body>
  <div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>
                        Category : {{query}}
                        
                      </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-carousel">
    {% for item in items %}
    <div class="single-product">
        <div class="product-f-image">
            <img src="{{item.image.url}}" class="img-responsive" alt="image of {{item.title}}">
            <div class="product-hover">
                <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                <a href="{{ item.get_absolute_url }}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
            </div>
        </div>
        <h2><a href="{{ item.get_absolute_url }}">{{item.title}}</a></h2>
        
        <div class="product-carousel-price">
            <ins>{{item.price}}</ins> <del>{{item.discounted_price}}</item></del>
        </div> 
    </div> 
    {% endfor %}
</div>
</body>
{% endblock %}